# backups e dumps
*.sql
*.rdb
_backup
_backup.

# envs
.env
.env.
evolution_env_backup

# build frontend
frontend/client-app/dist

# dependências
node_modules
backend/node_modules/
frontend/node_modules/

.DS_Store

# PM2 / deploy
logs/*.log